<link rel="stylesheet" href="../static/bootstrap.css">
</head>
<body>
  
    <table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
    
    <form action="{{  url_for('atualizar2')  }} " method="post">
        <input type="hidden" name="id" value="{{ frutas.id }}">
        
        <tr>
            <th>Nome</th>
            <th>Preço/KG</th>
            <th>Estoque Atual</th>
            <th>Estoque Mínimo</th>
            <th></th>
         </tr>
          
         <tr>  
            <td> {{ frutas.nome }} </td>    
            <td> <input type="text" id="preco" name="preco" class="form-control" value= "{{ frutas.preco }}"></td>
            <td> {{ frutas.estoque_atual }}</td>
            <td> <input type="text" id="estoque_minimo" name="estoque_minimo" class="form-control" value= "{{ frutas.estoque_minimo }}"></td>
            <td> <button type="submit" class="btn btn-primary btn-salvar">Salvar</button> </td>
          
        </tr>
        </fieldset>
      </form>

</body>
</html>